.card {
    width: 1500px;
    background: lightcoral;
    margin: 16px auto;
    padding: 8px;
  }

.incard {
    display: block;
    width: auto;
    background: white;
    padding: 8px;
}

.image {
    display: block;
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: bolder;
    background-color: lightcoral;
    text-align: center;
    margin: 32px;
}

p {
    text-align: center;
    margin: 50px;
}



ol,
ul {
    list-style-position: inside;
    display: block;
    align-items: center;
}